
/* ********************************************************************************************
    Reset
*********************************************************************************************** */

body {
    background-color: #f0f6ff;
    /*color: #161931;*/
    font-family: 'Exo 2', sans-serif;

}
.sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu,
.site-logo li .brand-text,
.h1, .h2, .h3, .h4, .h5, .h6, .nav.metismenu, body, h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
}
.custom-control-input:disabled~.custom-control-label, .custom-file-label, .custom-file-label:after, .form-control-plaintext{
    font-size: .800rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    /*color: #161931;*/
}
body .top-toolbar.navbar-desktop {
    background: #ffffff;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + -1px);
}
.pointer{
    cursor: pointer !important;
}
.actions>li{
    vertical-align: top;
}
.page-content{
    padding-top: 20px;
}

.dropdown.filters .dropdown-menu,
.dropdown300{
    width: 300px !important;
}
.dropdown-menu #filter-form .fa-times{
    font-size: 14px;
    margin-top: -3px;
}
.dropdown-menu #filter-form .btn-link{
    padding-left: 0;
    line-height: 20px;
}
/* ********************************************************************************************
    Page Header
*********************************************************************************************** */
.page-header .input-group .form-control{
    padding: .470rem .75rem;
}
.page-header .input-group .input-group-text{
    line-height: .9;
}
.page-header .select2-container--default .select2-selection--single{
    min-height: 38px;
}
.page-header .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0.58rem 1rem;
    /*padding: 0.68rem 1rem;*/
    font-size: 0.875rem;
    font-weight: normal !important;
}
.page-header .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 7px;
}
.tab-pane .actions.top-right{
    top: 10px;
}
/* ********************************************************************************************
    Button
*********************************************************************************************** */

.btn-info, a:link.btn-info {
    color: rgba(255,255,255,.85) !important;
}
.btn-info.btn-outline, a:link.btn-info.btn-outline {
    color: #399AF2 !important;
}
.btn-icon-only {
    width: 30px !important;
    height: 25px !important;
    text-align: center !important;
    padding: 0px !important;
}
.btn-icon-only i{
    margin: 0 !important;
    padding: 0;
}
.btn-secondary:hover i,
.btn-secondary:focus i{
    color: #fff;
}
.dropdown .fa-sliders{
    margin-top: -5px;
}
.btn-primary2{
    background-color: #6e85af !important;
    border-color: #6e85af;
    color: #fff;
}
.btn-success.btn-outline {
    border: 1px solid #2fbfa0 !important;
}
/* ********************************************************************************************
    Table
*********************************************************************************************** */
.table .label:not(.label-default),
.view-label{
    font-weight: normal;
    font-size: 12px;
    background-color: transparent !important;
    border: 1px solid #e4eef0;
    color: #8390a0 !important;
    border-radius: 50px;
    padding: .2em .6em .2em;
    white-space: nowrap;
}
.table .label:not(.label-default):before,
.view-label:before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #d2d6de;
    border-radius: 100%;
    display: inline-block;
    margin-right: 7px;
}
.table td, .table th, .table thead th {
    vertical-align: middle;
}
.table-field-status .dropdown .dropdown-menu .dropdown-item i {
    vertical-align: inherit;
    font-size: 11px;
    margin-right: 5px;
}

.table-field-actions .dropdown-menu,
.table-field-status .dropdown-menu{
    width: 150px;
}
.table-field-actions.dropdown .dropdown-menu .dropdown-item{
    padding: 10px;
}
.label-gray:before{
    background-color: #d2d6de !important;
}
.label-green:before,
.label-success:before{
    background-color: #00a65a !important;
}
.label-red:before,
.label-danger:before{
    background-color: #dd4b39 !important;
}
.label-aqua:before,
.label-info:before{
    background-color: #00c0ef !important;
}
.label-yellow:before,
.label-warning:before{
    background-color: #f39c12 !important;
}
.label-purple:before{
    background-color: #605ca8 !important;
}
.uploaded-user-image .upload-icon {
    position: absolute;
    bottom: 15px;
    left: 10px;
}
.table-small-padding.table > tbody > tr > th,
.table-small-padding.table > tbody > tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: normal;
}

.table>thead>tr>th>a{
    position: relative;
    color: #617182;
}
.table>thead>tr>th>a:before,
.table>thead>tr>th>a:after{
    position: absolute;
    display: block;
    opacity: .5;
    bottom: -0.15em;
    margin-right: -25px;
}
.table>thead>tr>th>a:before{
    content: "\2193";
    right: 0em;
}
.table>thead>tr>th>a:after{
    content: "\2191";
    right: .5em;
}
.table>thead>tr>th.descending>a:before,
.table>thead>tr>th.ascending>a:after{
    opacity: 1;
}


/* ********************************************************************************************
    Form
*********************************************************************************************** */
.label{
    font-weight: 600;
}
option:active, option:checked {
    color: #fff;
    background: #007bff;
}
.form-control:disabled{
    cursor: no-drop;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
    right: 7px;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    min-height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 0.49rem 1rem;
    font-size: 0.875rem;
    font-weight: normal !important;
}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection{
    border: 1px solid #736cc7;
    box-shadow: none;
}
.sign-in-form{
    margin: 10% auto;
}
.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{
    padding: .44rem .5rem;
}
.custom-control-input:disabled~.custom-control-label, .custom-file-label, .custom-file-label:after, .form-control-plaintext{
    font-size: .6875rem;
}
.input-group-sm>.input-group-append>.input-group-text{
    line-height: 0.90;
}
select.select-38.form-control:not([size]):not([multiple]) {
    height: calc(2.44rem + -1px);
}
.width-mobile .form-control{
    border-radius: 6px !important;
    font-size: 25px !important;
    width: 22%;
    float: left;
    margin: 0 4px;
}

/* ********************************************************************************************
    Login
*********************************************************************************************** */

.login-box, .register-box {
    width: 100%;
    max-width: 410px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    border-radius: 10px;
    margin: 5% auto;
}
.login-logo, .register-logo {
    background: #1b1e3c;
    margin-bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.login-box-msg, .register-box-msg {
    font-weight: normal;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    text-align: center;
}
.login-box-body, .register-box-body {
    color: inherit;
    padding: 30px 25px;
    background: #fff;
}
.login-box-body .form-control {
    background-color: #f0f6ff;
    border-color: transparent;
    font-size: 15px;
    border-radius: 50px;
    height: 49px;
    text-align: center;
}
.login-box-body .form-control:focus {
    background-color: #FFF;
    border-color: #5accca;
}
.login-box-body .btn {
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    margin-top: 15px;
}
.login-box-footer {
    background-color: #f0f6ff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid rgba(234,243,253,.7);
    padding: 20px 25px 5px;
    font-size: 14px;
}
.table .dropdown{
    position: absolute;
    margin-top: -12px;
    margin-left: 35px;
}
/* ********************************************************************************************
    Extra class
*********************************************************************************************** */
body .top-toolbar.navbar-desktop .navbar-nav .nav-item>a:hover i.icon:after {
    background-color: rgba(240,246,255,.7);
}
.left-form-content {
    padding-right: 35px;
    padding-left: 20px;
}
.upload-img-label{
    font-size: 11px;
    margin-bottom: 0;
    font-weight: normal;
}
.site-logo li .logo{
    top: 20px;
    left: 25px;
}
.site-logo li .brand-text{
    padding: 20px 0 0 53px;
}
.mCSB_inside>.mCSB_container {
    margin-right: 15px;
}
.card.card-tabs .card-header .nav.nav-tabs li a{
    font-weight: normal;
}
.pie-chart-legend .table{
    font-size: 16px;
    margin: 0px auto;
    max-width: 340px;
    white-space: nowrap;
}
.pie-chart-legend .table .colorbox,
.chart-legend ul > li > span{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: 0px;
    margin-right: 10px;
}
.pie-chart-legend .table .value{
    font-weight: 600;
    color: #525e70;
}
.chart-legend ul{
    list-style: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    float: right;
}
.chart-legend ul li{
    display: inline-block;
    margin-left: 20px;
}
.chart-legend ul > li > span{
    margin-right: 10px;
}
.table-responsive.font-medium .table tr td {
    font-weight: 500 !important;
}
.input-group .select2-container--default:first-of-type .select2-selection--single {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*Btn Group Dropdown*/

.btn-group .dropdown-menu .dropdown-item{
    color: #839bb3;
}
.btn-group .dropdown-menu .dropdown-item{
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    padding: 10px 20px;
    font-size: .875rem;
    border-left: solid 2px transparent;
    position: relative;
}
.btn-group .dropdown-menu{
    margin: 5px 0 0;
    border: none;
    box-shadow: 0 4px 14px rgba(174,197,231,.5);
    font-size: .875rem;
    z-index: 1000;
}
/*.btn-group .dropdown-menu {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}*/
.btn-group a i {
    font-size: 1.375rem !important;
    vertical-align: middle !important;
}
.btn-group .dropdown-item i {
    font-size: .9375rem !important;
}
.btn-group .dropdown-item:hover {
    color: #5accca!important;
}

/*.btn-group a i {
    font-size: 1.375rem !important;
}*/
.dropdown-item.active,
.dropdown-item:active{
    color: #839bb3;
    text-decoration: none;
    background-color: #f8f9fa;
}
.tab-border-radius {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid rgba(210,221,234,.5) !important;
    box-shadow: none !important;
}
.body-border-radius {
    border-radius: 0px 0 4px 4px;
    margin-top: -1px;
    box-shadow: none !important;
}
.my-badge {
    font-size: 14px !important;
    padding: 1px 6px 2px !important;
    line-height: 23px !important;
}
.obj-cover {
    object-fit: cover;
}
.tab-pane .actions.top-right.custom-action {
    top: -52px !important;
}
.lh-normal {
    line-height: normal !important;
}
.friends-list li .friends-name{
    margin-top: 15px;
    display: inline-block;
    font-weight: 500;
}
.accordion .actions.top-right{
    top: 10px !important;
}
.badge-sm{
    padding: 1px 8px 2px 8px !important;
}

.pagination .page-item.active .page-link{
  padding: 0;
  line-height: 30px;
}

.top-toolbar.navbar .dropdown-header .media-body {
  white-space: normal !important;
  word-break: break-all !important;
}

.dropdown-notifications .count {
    position: absolute;
    border: 3px solid #fcb7c1;
    top: 12px;
    right: 9px;
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 0px;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff5050;
    border-radius: 100%;
}
.no-notification.dropdown-menu {
  min-height: auto !important;
}
.no-notification.dropdown-menu .card-container {
  height: 100px !important;
}
